.grid-container {
    background-color: #0E1525;
    height: 10em;
    width: 10em;
    padding: 3em;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: relative;
}

.reset-button {
    margin-top: 2em;
    margin-bottom: 2em;
}

.winner-line {
    position: absolute;
    bottom: 0.8em;
    left: 5em;
}

.winner-line > svg {
    position: relative;
    top: 0.15em
}