.grid-container {
    background-color: #0E1525;
    height: 10em;
    width: 10em;
    padding: 3em;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.reset-button {
    margin-top: 2em;
}